html	{
	position: relative;
}

body {
	margin-bottom: 125px;
	margin-top: 35px;
}

.jumbotron {
	height: 500px;
	background-image: url(../img/back.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -50px;
	overflow: hidden;
}



.navbar {
	background-color: #377c5e;
}

.jumbotron img {
	border: 3px solid black;
}

.jumbotron {
	background-color: purple;
}

.jumbotron h1, .jumbotron p {
	text-shadow: 1px 1px 3px blue;
	color: white;
}


.contact {
	min-height: 800px;
}

 hr {
	width: 250px;
	border-top: 5px solid black;
}

.about {
	min-height: 400px;
}


section {
	min-height: 600px;
}

.pkiri, .pkanan {
	opacity: 0;
	transform: translate(-50px, 0) rotate(15deg);
	transition: 2s;
}

.pkanan {
	transform: translate(50px, 0) rotate(-15deg);
}

.pkiri.pmuncul, .pkanan.pmuncul {
	opacity: 1;
	transform: translate(0,0);
}

.portfolio {
	background-color: #3685ca;
}

.portfolio .thumbnail {
	opacity: 0;
	transform: translate(0, -40px);
	transition: 1s;
}

.portfolio .thumbnail.muncul {
	opacity: 1;
	transform: translate(0,0);
}

footer	{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 125px;
	background-color: yellow;
	padding: 40px;
}

footer p {
	color: black;
	font-size: 13px;
}

footer p i {
	color: red;
}
